#nav{
	background-color: gray;
	height: 40px
	
}
body{
	background-color: lightpink;
}
#StarsHead{
	text-align: center;
	color: white;
}
table{
	border-bottom-color: black; 
	border-color: black;
	border-width: 5px;
	
}